<?xml version="1.0" encoding="utf-8"?>
<launch>

  <arg name="rviz" default="true" />

  <!-- Ground segmentation -->
  <node name="ground_segmentation" pkg="linefit_ground_segmentation_ros" type="ground_segmentation_node" output="screen">
    <rosparam command="load" file="$(find linefit_ground_segmentation_ros)/launch/segmentation_params.yaml"/>

    <param name="input_topic" value="/velodyne_points" />
    <!-- <param name="input_topic" value="/velodyne_points_left" /> -->
    <param name="ground_output_topic" value="ground_cloud" />
    <param name="obstacle_output_topic" value="obstacle_cloud" />
  </node>

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find linefit_ground_segmentation_ros)/rviz/ground_segmentation.rviz" />
  </group>

</launch>